<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog" />
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog" />-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information" />
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<!-- valid options: Ado.Net, Linq2Sql, EntityFramework -->
		<add key="AccessTypeTranslator" value="SQL" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="CultureInfo" value="en-GB" />
		<add key="DatabaseTranslator" value="ISPDATA"></add>
		<add key="DataProvider" value="Ado.Net" />
		<add key="DefaultCountryISOA3" value="SAU" />
		<add key="DefaultCurrencyCurrencySymbol" value="SR" />
		<add key="DefaultCurrencyDecimalDigits" value="2" />
		<add key="DefaultCurrencyDecimalSeparator" value="." />
		<add key="DefaultCurrencyGroupSeparator" value=" " />
		<add key="DefaultFormBackgroundColor" value="AquaMarine" />
		<add key="DefaultFormControlEditingBackgroundColor" value="White" />
		<add key="DefaultFormControlEditingForegroundColor" value="Green" />
		<add key="DefaultFormControlReadOnlyBackgroundColor" value="LightGray" />
		<add key="DefaultFormControlReadOnlyForegroundColor" value="Black" />
		<add key="DefaultFormControlsBackgroundColor" value="White" />
		<add key="DefaultFormControlsForegroundColor" value="Black" />
		<add key="DefaultFormForegroundColor" value="Black" />
		<add key="DefaultMirroredCultureInfoStr" value="ar-SA" />
		<add key="DefaultNumberDecimalDigits" value="2" />
		<add key="DefaultNumberDecimalSeparator" value="." />
		<add key="DefaultNumberGroupSeparator" value="," />
		<add key="DefaultUnMirroredCultureInfoStr" value="en-GB" />
		<add key="FileNameTranslator" value=""></add>
		<add key="MaximumOpenForms" value="8" />
		<add key="Lookup" value="NameAndCode" />
		<add key="PWDTranslator" value="igss@123"></add>
		<add key="UIDTranslator" value="iGroupAdmin"></add>
		<add key="UseComputerCultureInfo" value="False" />
		<add key="UseOriginalAppTextLanguageForEnglish" value="True" />
		<add key="ShowDataDifferenceWhenSaving" value="False" />
		<add key="VatRate" value="15" />
		<add key="ServerType" value="" />
		<add key="ServerTranslator" value=""></add>
		<add key="ReportPaths" value=""></add>
		<add key="ReportPathsIGroup" value="D:\aatm\accounts\Reports\IGroup\"></add>
		<add key="ServerType" value="local" />
		<add key="ServerTranslator" value="ISPADMIN2"></add>
		<add key="ReportPaths" value="D:\aatm\accounts\Reports\"></add>
		<add key="UID" value="iGroupAdmin"></add>
		<add key="PWD" value="igss@123"></add>
		<add key="DATABASE" value="ISPDATA"></add>
		<add key="DATABASEIGroup" value="IGroupClinic"></add>
		<add key="AccessTypeTranslator" value="SQL" />
	</appSettings>
	<connectionStrings>
		<add name="ISPDATA" connectionString="Data Source=ISPADMIN2;Initial Catalog=ISPData;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
		<add name="TRANSLATIONS" connectionString="Data Source=ISPADMIN2;Initial Catalog=ISPDATA;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
		<add name="IGROUPCLINIC" connectionString="Data Source=ISPADMIN2;Initial Catalog=IGroupClinic;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
		<add name="Action" connectionString="Data Source=(LocalDb)\v11.0;Initial catalog=ActionVb3;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\App_Data\ActionVb3.mdf" providerName="System.Data.SqlClient" />
		<add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;|DataDirectory|\App_Data\ActionVb3.mdf&quot;;initial catalog=ActionVb3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
		<add name="AATM.ISPHIS.My.MySettings.ISPDATAConnectionString" connectionString="Data Source=ISPADMIN2\SQLEXPRESS;Initial Catalog=ISPDATA;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>