<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
    </sharedListeners>
  </system.diagnostics>
  <appSettings>
    <!-- valid options: Ado.Net, Linq2Sql, EntityFramework -->
    <add key="DataProvider" value="Ado.Net" />
    <add key="UseOriginalAppTextLanguageForEnglish" value="True" />
    <add key="CultureInfo" value="en-GB" />
    <add key="MaximumOpenForms" value = "8" />
    <add key="UseComputerCultureInfo" value="False" />
    <add key="DefaultUnMirroredCultureInfoStr" value="en-GB" />
    <add key="DefaultMirroredCultureInfoStr" value="ar-SA" />
    <add key="DefaultCountryISOA3" value="SAU" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DefaultFormBackgroundColor" value="AquaMarine" />
    <add key="DefaultFormForegroundColor" value="Black" />
    <add key="DefaultFormControlsBackgroundColor" value="White" />
    <add key="DefaultFormControlsForegroundColor" value="Black" />
    <add key="DefaultFormControlReadOnlyBackgroundColor" value="Azure" />
    <add key="DefaultFormControlReadOnlyForegroundColor" value="Coral" />
    <add key="DefaultFormControlEditingBackgroundColor" value="Blue" />
    <add key="DefaultFormControlEditingForegroundColor" value="White" />
    <add key="AccessTypeTranslator" value="SQL" />
    <add key="ServerType" value = "server" />
    <add key="ServerType2" value = "local" />
    <add key="ServerTranslator" value="IBN-SERVER"></add>
    <add key="ServerTranslator2" value="MARCELO-DELL"></add>
    <add key="ServerTranslator3" value="ISPADMIN2\SQLEXPRESS01"></add>
    <add key="ServerTranslator4" value="(local)"></add>
    <add key="DatabaseTranslator" value="TRANSLATIONS"></add>
    <add key="UIDTranslator" value="iGroupAdmin"></add>
    <add key="PWDTranslator" value="igss@123"></add>
    <add key="FileNameTranslator" value=""></add>
  </appSettings>
  <connectionStrings>
    <add name="TRANSLATIONS" connectionString="Data Source=IBN-SERVER;Initial Catalog=Translations;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
    <add name="TRANSLATIONS2" connectionString="Data Source=MARCELO-DELL;Initial Catalog=Translations;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
    <add name="TRANSLATIONS3"  connectionString="Data Source=ISPADMIN2\SQLEXPRESS01;Initial Catalog=TRANSLATIONS;Integrated Security=True;Connection Timeout=5" />
    <add name="TRANSLATIONS4"  connectionString="Data Source=MARCELO-DELL;Initial Catalog=TRANSLATIONS;Integrated Security=SSPI;Persist Security Info=False" />
    <add name="ISPDATA" connectionString="Data Source=IBN-SERVER;Initial Catalog=ISPData;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
    <add name="ISPDATA2" connectionString="Data Source=MARCELO-DELL;Initial Catalog=ISPData;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
    <add name="ISPDATA3" connectionString="Data Source=ISPADMIN2\SQLEXPRESS01;Initial Catalog=ISPDATA;Integrated Security=True;Connection Timeout=5" />
    <add name="ISPDATA4" connectionString="Data Source=JASIMAYNEL\SQLEXPRESS;Initial Catalog=ISPDATA;Integrated Security=True;Connection Timeout=5" />
    <add name="ISPDATA5" connectionString="Data Source=ISPADMIN2\SQLEXPRESS01;Initial Catalog=ISPDATA;Integrated Security=True;Connection Timeout=5" />
    <add name="ISPDATA6" connectionString="Data Source=ISP-SERVER;Initial Catalog=ISPData;Persist Security Info=True;User ID=igroupadmin;Password=igss@123" />
    <add name="ISPDATA7" connectionString="Data Source=MARCELO-DELL;Initial Catalog=ISPDATA;Integrated Security=SSPI;Persist Security Info=False;Connection Timeout=60" />
    <add name="Action" connectionString="Data Source=(LocalDb)\v11.0;Initial catalog=ActionVb3;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\App_Data\ActionVb3.mdf" providerName="System.Data.SqlClient" />
    <add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;|DataDirectory|\App_Data\ActionVb3.mdf&quot;;initial catalog=ActionVb3;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="AATM.ISPHIS.My.MySettings.ISPDATAConnectionString" connectionString="Data Source=ISPADMIN2\SQLEXPRESS;Initial Catalog=ISPDATA;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>