<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Pharmacy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Pharmacy.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<userSettings>
		<Pharmacy.My.MySettings>
			<setting name="Tahoma" serializeAs="String">
				<value>Tahoma, 9.75pt</value>
			</setting>
		</Pharmacy.My.MySettings>
	</userSettings>
	<applicationSettings>
		<Pharmacy.My.MySettings>
			<setting name="Fixed3D" serializeAs="String">
				<value>FixedSingle</value>
			</setting>
			<setting name="EnterKey" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>*</value>
			</setting>
		</Pharmacy.My.MySettings>
	</applicationSettings>
	<appSettings>
		<add key="DB_INFO" value="SQL" />
		<add key="Admin_Uname" value="sa" />
		<add key="Admin_Pwd" value="" />
		<add key="SerialNo" value="1EdbC-387U6-S02K-egzyH-4LZFP" />
		<add key="MBDSNo" value=".G2NXJV1.CN129662C60597." />
		<add key="DefaultBranch" value="01" />
		<add key="ServerName" value="MARCELO-DELL" />
		<add key="DataBaseName" value="iGroupClinic" />
		<add key="CON_STR" value="User Id=iGroupAdmin; Password=igss@123;Persist Security Info=False;Data Source=MARCELO-DELL; Initial Catalog = iGroupClinic" />
		<add key="RESOURCE_NAMESPACE" value="HMS_DAL" />
		<add key="RESOURCE_FILENAME" value="Common" />
		<add key="REPORTFOLDER" value="Reports" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Web" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonControls" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.ObjectFactory" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.Prompting" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="CrystalDecisions.ReportAppServer.XmlSerialize" publicKeyToken="692fbea5521e1304" culture="neutral" />
				<bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.4000.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>